<?php

return [
    'headers'        => [
        'banki'      => [
            'Accept'          => '',
            'Accept-Language' => '',
            'Content-Type'    => '',
            'Origin'          => '',
            'Host'            => '',
            'Connection'      => '',
            'Cookie'          => '',
            'Accept-Encoding' => '',
            'Referer'         => '',
            'User-Agent'      => '',
        ],
        'irecommend' => [
            'Accept'          => '',
            'Accept-Language' => '',
            'Content-Type'    => '',
            'Origin'          => '',
            'Host'            => '',
            'Connection'      => '',
            'Cookie'          => '',
            'Accept-Encoding' => '',
            'Referer'         => '',
            'User-Agent'      => '',
        ],
        'otzovik'    => [
            'Accept'          => '',
            'Accept-Language' => '',
            'Content-Type'    => '',
            'Origin'          => '',
            'Host'            => '',
            'Connection'      => '',
            'Cookie'          => '',
            'Accept-Encoding' => '',
            'Referer'         => '',
            'User-Agent'      => '',
        ],
    ],
    'ip'             => [
        'enable'           => false,
        'auto_re_download' => false,
        'list'             => [
            '1.1.1.1.1' => '1111',
        ],
    ],
    'count_attempts' => 1,
];
